<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Thornbury Ltd</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/scripts/index.js"></script>
</head>
<body>
  <header>
    <img class="img-logo" src="/images/thornbury-logo.png">
      <div class="links">    
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li><a href="/atmospheric">Atmospheric Technologies</a></li>
          <li><a class="active1" href="#">Sani-99</a></li>
          <li><a href="/health">Enjoy Health</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>

<input type="checkbox" id="hamburger-input" class="burger-shower" />
<label id="hamburger-menu" for="hamburger-input">
  <nav id="sidebar-menu">
    <h3>X</h3>
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/atmospheric">Atmos Techs</a></li>
      <li><a class="active1" href="#">Sani-99</a></li>
      <li><a href="/health">Enjoy Health</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </nav>
</label>

<div class="overlay"></div>

  </header>

  <main>

<section class="section-banner">
  <img class="hero-image" src="/images/sani.jpg">
</section>

<section class="section-main">
<h1>Medical Grade Sani-99</h1>
<h2 class="h2-sani">What makes Medical Grade SANI-99 a preferred hand and surface disinfectant?</h2>
<ul class="a">
<li class="b">With Medical Grade SANI-99™ you can never run out of disinfectant. As long as you have a Medical Grade SANI-99 sachet with you, and have access to water and a container, you will have a powerful and an effective disinfectant.</li>
<li class="b">One Medical Grade SANI-99™ sachet weighs only 6g. This means that you can always carry sachets in your handbag, pocket or car without taking up any space.</li>
<li class="b">Because you don’t have to buy a new bottle every time when your disinfectant is finish, there is no comparison in affordability.</li>
<li class="b">Our company is against plastic contamination and therefore promotes with Medical Grade SANI-99™ ; “ONE BOTTLE FOR LIFE”.</li>
<li class="b">It is more effective and much safer to use than 70% alcohol-based products.</li>
</ul>
<div class="link-hidden"><a href="/images/SAN 99 CO UK BROCHURE WEB RES[1578] - 1.pdf">Click here to download Enjoy Health PDF</a></div>
<div class="link-hidden"><a href="/images/SaniProduct Brochure[1579] - 1.pdf">Click here to download Enjoy Health PDF</a></div>
<div class="pdf-wrapper"><embed src="/images/SAN 99 CO UK BROCHURE WEB RES[1578] - 1.pdf" type="application/pdf" width="100%" height="600px" /></div>
</section>
<section>
<div class="pdf-wrapper"><embed src="/images/SaniProduct Brochure[1579] - 1.pdf" type="application/pdf" width="100%" height="600px" /></div>

</section>

</main>
  <footer>
    <p class="foot-left">Thornbury Ltd, reg address Kemp House, 160 City Road, London EC1V 2NX</p>
    <p class="foot-right">Email: info@thornburyltd.co.uk&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone: 0207 965 7305</p>
  </footer>
</body>
</html>